{% extends 'grocery_list/base.html' %}

{% block body_block %}

  <ul>
    {% for category,items in grocery_list %}
      <li>
          {{ category }}
          {% for item in items %}
          <ul class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                {{ item }}
              </label>
            </ul>
          {% endfor %}
      </li>
    {% endfor %}
  </ul>

  <a href="{% url 'grocery_list:new-item' %}">Add</a>
{% endblock %}